
/* This is the Universal styling */

html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    word-spacing: 1px;
    overflow-x: hidden;
}

h2 {
 font-size: 2.5rem;
 font-weight: 600;
 margin-top: 24px;
 font-family: Kanit, Arial, "sans-serif";
 color: #d4d4dc;
}


/* This is the header styling */

header {
  disply: flex;
  width: 100%;
  height: 64px;
  position: fixed;
  z-index: 2;
  border-bottom: 1px solid #d4d4dc;
  background-color: #393f4d;
}

.header {
  display: flex;
  width: 100%;
  height: 64px;
}

.school-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  fill: #d4d4dc;
}

.school-logo img {
  margin-left: 24px;
  margin-right: 12px;
  height: 1.75rem;
  width: auto;
}

.school-logo .bold {
  font-weight: 600;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: Kanit, Arial, "sans-serif";
  color: #d4d4dc;
}

.school-logo .normal {
  font-weight: normal;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: Kanit, Arial, "sans-serif";
  color: #d4d4dc;
}

.navigation-desktop {
  display: flex;
  width: 50%;
  margin-right: 24px;
}

.navigation-desktop .navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.navigation ul {
  display: flex;
  margin-right: 24px;
  text-decoration: none;
}

.navigation ul li {
  margin-left: 16px;
}

ul li a {
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: normal;
  font-weight: 400;
  font-family: Alegreya, Georgia, serif;
  color: #feda6a;
  transition-property: color;
}

ul li a:hover {
  color: #d4d4dc;
}


/* This is the banner styling */

.banner {
  display: flex;
  position: relative;
  margin-top: 64px;
  padding-top: 32px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 32px;
  border-bottom: 1px solid #d4d4dc;
  background-color: #1d1e22;
}

.banner .img {
  display: block;
  width: 60%;
}

.img img {
  width: 100%;
}

.start {
  display: flex;
  width: 40%;
  margin-left: 64px;
  border-left: 1px solid #d4d4dc;
}

.start-here {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
  margin-left: 10%;
  justify-content: center;
  align-items: center;
}

.start-here h1  {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: 1px;
  font-family: Kanit, Arial, "sans-serif";
  color: #d4d4dc;
}

.start-here p {
  font-size: 2rem;
  font-weight: 500;
  margin-top: 64px;
  margin-bottom: 64px;
  line-height: 1.25;
  font-family: Alegreya, Georgia, serif;
  color: #d4d4dc;
}

.start-here span {
  font-size: 1.5rem;
  font-weight: normal;
  font-family: Alegreya, Georgia, serif;
}

.start-here .button {
  width: 100%;
  height: 3rem;
  padding-top: 16px;
  text-align: center;
  background-color: #feda6a;
  border-radius: 10px;
  transition-property: background-color;
  transition: background-color 2s ease 0.2s;
}

.start-here .button:hover {
  background-color: #d4d4dc;
}


.button a {
  margin: 8px auto;
  text-decoration: none;
  color: #1d1e22;
}


/* This is the about us section */

.about {
  display: flex;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 32px;
  width: 100%;
  border-bottom: 1px solid #d4d4dc;
  background-color: #393f4d;
}

.practice {
  display: flex;
  flex-direction: column;
  margin-right: 24px;
  margin-top: 32px;
  margin-bottom: 32px;
  width: 60%;
}

.practice img {
  width: 100%;
}

.text {
  display: flex;
  flex-direction: column;
}

.text h2 {
  margin-top: 24px;
  letter-spacing: 1px;
  font-family: Kanit, Arial, "sans-serif";
  color: #d4d4dc;
}

.text p {
  font-size: 1.25rem;
  font-weight: normal;
  margin-top: 24px;
  font-style: italic;
  line-height: 1.5;
  letter-spacing: 1px;
  font-family: "Architects Daughter", cursive;
  color: #d4d4dc;
}

.text h5 {
  font-size: 1rem;
  font-weight: normal;
  margin-top: 32px;
  margin-bottom: 32px;
  font-weight: 400;
  font-family: Alegreya, Georgia, serif;
  color: #d4d4dc;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
  margin-right: 24px;
  margin-top: 32px;
  border-left: 1px solid #d4d4dc;
}

.info div img {
  width: 35%;
  height: 35%;
  padding-left: 24px;
}

.orientation {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-bottom: 44px;
  border-bottom: 1px solid #d4d4dc;
  transition-property: background-color;
  transition: background-color 2s ease 0.2s;
}

.orientation:hover {
  background-color: #feda6a;
}

.our-campus {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-bottom: 44px;
  padding-top: 40px;
  border-bottom: 1px solid #d4d4dc;
  transition-property: background-color;
  transition: background-color 2s ease 0.2s;
}

.our-campus:hover {
  background-color: #feda6a;
}

.lecture {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: #1d1e22;
  transition-property: background-color;
  transition: background-color 2s ease 0.2s;
}

.lecture:hover {
  background-color: #feda6a;
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 24px;
  width: 65%;
}

.information h3 {
 font-size: 1.5rem;
 font-weight: 600;
 letter-spacing: 1px;
 font-family: Kanit, Arial, "sans-serif";
 color: #d4d4dc;
 transition-property: color;
 transition: color 2s ease 0.2s;
}

.information h3:hover {
  color: #393f4d
}

.information p {
 font-size: 1.2rem;
 text-decoration: none;
 line-height: 1.5;
 font-weight: 500;
 font-family: Alegreya, Georgia, serif;
 color: #d4d4dc;
 transition-property: color;
 transition: color 2s ease 0.2s;
}

.information p:hover {
  color: #393f4d;
}

.information a {
 font-size: 1.10rem;
 text-decoration: none;
 line-height: 1.5;
 font-weight: 400;
 font-family: Alegreya, Georgia, serif;
 color: #feda6a;
 transition-property: color;
 transition: color 2s ease 0.2s;
}

.information a:hover {
  color: #393f4d;
}


/* This is the learning section */

.learning {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding-left: 72px;
  padding-right: 72px;
  padding-bottom: 32px;
  border-bottom: 1px solid #d4d4dc;
  background-color: #1d1e22;
}

.learn {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 32px;
}

.courses {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.courses1 {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 32px;
}

.courses1 div {
  border: 1px solid #d4d4dc;
  box-shadow: 0px 0px 0px #d4d4dc;
  transition-property: box-shadow;
  transition: box-shadow 750ms ease-out 150ms;
}

.courses1 div:hover {
  box-shadow: 5px 5px 50px #d4d4dc;
}

.courses1 div img {
  border-bottom: 1px solid #d4d4dc;
}

.courses2 div {
  border: 1px solid #d4d4dc;
  box-shadow: 0px 0px 0px #d4d4dc;
  transition-property: box-shadow;
  transition: box-shadow 750ms ease-out 150ms;
}

.courses2 div:hover {
  box-shadow: 5px 5px 50px #d4d4dc;
}

.courses2 div img {
  border-bottom: 1px solid #d4d4dc;
}

.course-info h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-left: 16px;
  margin-top: 24px;
  margin-bottom: 16px;
  letter-spacing: 1px;
  font-family: Kanit, Arial, "sans-serif";
  color: #d4d4dc;
}

.course-info h4 {
  font-size: 1.15rem;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 16px;
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 500;
  font-family: Alegreya, Georgia, serif;
  color: #d4d4dc;
}

.course-info p {
  font-size: 1.075rem;
  text-decoration: none;
  line-height: 1.5;
  margin-left: 16px;
  margin-top: 16px;
  font-weight: 400;
  font-family: Alegreya, Georgia, serif;
  color: #d4d4dc;
}

.courses1 div {
  width: 33%;
  height: auto;
  margin-right: 32px;
}

.courses div img {
  width: 100%;
  height: auto;
}

.courses2 {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.courses2 div {
  width: 33%;
  height: auto;
  margin-right: 32px;
}


/* This is the thesis exhibit section */

.thesis {
  display: flex;
  flex-direction: column;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
  width: 100%;
  background-color: #393f4d;
}

.exhibit {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 24px;
  padding-bottom: 24px;
  width: 100%;
}

.exhibition {
  display: flex;
  width: 100%;
}

.demonstration {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding-right: 24px;
  border-right: 1px solid #d4d4dc;
}

.video {
  width: 100%;
}

.video video {
  width: 100%;
}

.video-text {
  display: flex;
  flex-direction: column;
}

.video-text h3 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 24px;
  letter-spacing: 1px;
  font-family: Kanit, Arial, "sans-serif";
  color: #d4d4dc;
}

.video-text p {
  font-size: 1.25rem;
  font-weight: normal;
  margin-top: 24px;
  font-style: italic;
  letter-spacing: 1px;
  font-family: "Architects Daughter", cursive;
  line-height: 1.5;
  margin-top: 32px;
  margin-bottom: 32px;
  color: #d4d4dc;
}

.exhibitions {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.exhibitions div {
  display: flex;
  width: 100%;
  height: auto;
  margin-bottom: 16px;
}

.exhibitions div img {
  width: 35%;
  height: 35%;
  margin-left: 16px;
}

.fisma {
  padding-top: 32px;
  padding-bottom: 24px;
  border-bottom: 1px solid #d4d4dc;
  background-color: #1d1e22;
  transition-property: background-color;
  transition: background-color 2s ease 0.2s;
}

.fisma:hover {
  background-color: #feda6a;
}

.exhibit-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 24px;
  width: 65%;
}

.exhibit-info:hover {
  color: #393f4d;
}


.exhibit-info h3:hover {
  color: #393f4d;
}

.exhibit-info p:hover {
  color: #393f4d;
}


.exhibit-info h3 {
  font-size: 1.375rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 1px;
  font-family: Kanit, Arial, "sans-serif";
  color: #d4d4dc;
  transition-property: color;
  transition: color 2s ease 0.2s;
}

.exhibit-info p {
  font-size: 1.25rem;
  text-decoration: none;
  line-height: 1.5;
  font-weight: 500;
  font-family: Alegreya, Georgia, serif;
  color: #d4d4dc;
  transition-property: color;
  transition: color 2s ease 0.2s;
}



/* This is the footer section */

footer  {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-top: 16px;
  border-top: 1px solid #d4d4dc;
  background-color: #393f4d;
}

.copyright {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 24px;
}

.copyright span {
  font-size: 1rem;
  font-weight: 400;
  font-family: Alegreya, Georgia, serif;
  color: #d4d4dc;
}

.terms {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 50%;
  margin-right: 24px;
}

.terms h5 a {
  margin-left: 16px;
  margin-right: 24px;
  font-size: 1rem;
  text-decoration: none;
  font-weight: 400;
  font-family: Alegreya, Georgia, serif;
  color: #d4d4dc;
}



/* This is the media query section */

/* Tablet/laptop/desktop */

@media only screen and (min-device-width: 667px){
/* Styles */
  .navigation-mobile {
  display: none;
  }
}

/* Mobile section */

@media only screen and (max-device-width: 667px) {
/* Styles */
  .school-logo {
    display: none;
  }
  .navigation-desktop {
  display: none;
  }
  .header {
    display: flex;
    height: 64px;
  }
  .navigation-mobile {
    display: flex;
    justify-content: space-around;
    width: 100%;
    border: 1px solid #d4d4dc;
  }
  .navigation-mobile img {
    height: 2.75rem;
    margin-top: auto;
    margin-bottom: auto;
  }

}
